<div class="col-lg-5">
  <div class="well bs-component">
    <form #addBookForm="ngForm" (ngSubmit)="saveMovie(addBookForm.value)" class="form-horizontal">
      <fieldset>
        <legend>Add New Movie</legend>
        <div class="form-group">
          <label for="inputName" class="col-lg-3 control-label">Name</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputName" placeholder="Movie Name" [(ngModel)]="selectedMovie && selectedMovie.name"
              name="name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputyearOfRelease" class="col-lg-3 control-label">Year Of Release</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputyearOfRelease" placeholder="YYYY" [(ngModel)]="selectedMovie && selectedMovie.yearOfRelease"
              name="YearOfRelease">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPlot" class="col-lg-3 control-label">Plot</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputPlot" placeholder="Plot" [(ngModel)]="selectedMovie && selectedMovie.plot"
              name="plot">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPoster" class="col-lg-3 control-label">Poster</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputPoster" placeholder="Url" [(ngModel)]="selectedMovie && selectedMovie.poster"
              name="poster">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>