<h1>Employee List</h1>

<p *ngIf="!employees">Loading...</p>

<div *ngIf="employees">
    <button>Add Employee</button>
    <br>
    <br>
<table class='table table-striped table-condensed table-bordered'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.age }}</td>
      <td><button (click)="onEdit()">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>