<form (ngSubmit)="submitForm()" novalidate>
  <mat-form-field>
    <input
      matInput
      name="addressInput"
      [(ngModel)]="addressInput"
      placeholder="Type an address"
      (keyup)="keyUpHandler()"
    />
  </mat-form-field>
</form>

<div *ngIf="predictions">
  <mat-form-field>
    <mat-select
      placeholder="Suggestions"
      [ngModel]="predictions && predictions.length > 0"
    >
      <mat-option
        *ngFor="let prediction of predictions"
        [value]="prediction.place_id"
        (click)="suggestionSelected(prediction)"
        >{{ prediction.description }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>

<div class="message is-danger is-small" *ngIf="errorMessage">
  <div class="message-body">{{ errorMessage }}</div>
</div>
