<h1>Movies List</h1>

<p *ngIf="!movies">Loading...</p>

<div *ngIf="movies">
    <button><a [routerLink]="['/addmovie']">Add</a></button>
    <br>
    <br>
<table class='table table-striped table-condensed table-bordered'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Year</th>
      <th>Plot</th>
      <th>Poster</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.yearOfRelease }}</td>
      <td>{{ movie.plot }}</td>
      <td>{{ movie.poster }}</td>
      <td>
        <a [routerLink]="['/editmovie', movie.id]">Edit</a>
        <a (click)="deleteMovie(movie.id)">Delete</a>
    </td>
    </tr>
  </tbody>
</table>
</div>